:root {
  --gutter-s: .25rem;
  --gutter-m: .5rem;
  --gutter: 1rem;
  --gutter-l: 1.25rem;
  --gutter-xl: 1.5rem;
}

.header {
  padding: var(--gutter-xl) var(--gutter);

  .clb {
    &-nav {
      display: grid;
      grid-template-columns: 200px auto 200px;

      &__menu {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          li {
            margin: 0 var(--gutter-m);
          }
        }
      }
    }
  }
}