.header {
  padding: var(--gutter) 0;

  .clb {
    &-nav {
      display: grid;
      grid-template-columns: 100px auto;
      align-items: center;

      @media (min-width: 769px) {
        grid-template-columns: 200px auto 200px;
      }

      &__menu {
        display: none;

        @media (min-width: 769px) {
          display: block;
        }
      }

      &__offer {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}