@import "@styles/base/reset.scss";
@import "@styles/layout/header.module.scss";
@import "@styles/layout/footer.scss";
@import "@styles/layout/grid.scss";
@import "@styles/layout/navigation.module.scss";
@import "@styles/components/button.module.scss";
@import "@styles/pages/coming-soon.scss";

#clb-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .main {
    flex: 1 0 0;
  }
}
